:root {
    --transparent: hsla(0, 0%, 100%, .5);
    --outlinelight: yellow;
    --outlinedark: blue;
    --lightgrey: #D3D9D4;
    --whitetransparent: hsla(0, 0%, 100%, 0.85);
}

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: "200";
    font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
  }

body {
    background-image: url('./assets/redblue.jpg');
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: center;
    color: var(--whitetransparent);
}

.dropdown-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--transparent);
    margin-bottom: 20px;
    border: 1px solid var(--outlinelight);
    border-radius: 5px;
}

.dropdown {
    width: 225px;
}

.images-elements {
    border: 1px solid var(--outlinelight);
    border-radius: 5px;
    background-color: var(--transparent);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.image-card {
    display: flex;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}

.image-card img {
    border: 2px solid black;
    border-radius: 5px;
    max-width: 150px;
    object-fit: contain;
    cursor: pointer;
    padding: 10px;
}

img:hover {
    border: 2px solid var(--outlinelight);
    border-radius: 5px;
}

.switch {
    width: 100px;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.menu-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    padding-bottom: 0px;
    flex-wrap: wrap;
    min-width: 80vw;
}

.menu-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    flex-wrap: wrap;
}

.canvas-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid var(--outlinelight);
    border-radius: 5px;
    background-color: var(--transparent);
}

.canvas {
    background-color: white;
}

.menu {
    background-color: var(--transparent);
    border-radius: 5px;
    border: 1px solid var(--outlinelight);
}

#close-button {
    margin-right: 10px;
}

button {
    border: 1px solid var(--outlinelight);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color: var(--whitetransparent);
}

button:hover {
    background-color: var(--transparent);
    border: 1px solid var(--outlinedark);
}

input {
    border-radius: 5px;
    border: 1px solid var(--outlinelight);
}

input:hover {
    border: 1px solid var(--outlinedark);
    cursor: pointer;
    background-color: var(--transparent);
}

.button-group button {
    margin-right: 5px;
}